<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>curd_sinhvien</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>create.jsp</welcome-file>
    <welcome-file>update.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>homeUser</display-name>
    <servlet-name>homeUser</servlet-name>
    <servlet-class>servlet.homeUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeUser</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createUser</display-name>
    <servlet-name>createUser</servlet-name>
    <servlet-class>servlet.createUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createUser</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateUser</display-name>
    <servlet-name>updateUser</servlet-name>
    <servlet-class>servlet.updateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUser</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>deleteUser</display-name>
    <servlet-name>deleteUser</servlet-name>
    <servlet-class>servlet.deleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>